# pip install -i http://mirrors.aliyun.com/pypi/simple/ tensorflow-cpu==1.15 --trusted-host  mirrors.aliyun.com
# tensorflow 1.x  support python version <= 3.7
numpy==1.21
tensorflow-cpu==1.15
inflect==0.2.5
librosa==0.9.2
scipy==1.7.0
Unidecode==1.0.22
numba==0.56
protobuf==3.20
resampy==0.3.1
pillow
torch
matplotlib
tqdm
cutlet
unidic-lite
